<!DOCTYPE html>
<h1> About AphaBlog </h1>
<style>
.about{
    color: red;
    font-weight: bold
}
</style>
<h3 class = "about">Alpha Blog! The Greatest Blog Site In The WORLD! ....Kinda... ;)</h3>
<h4 class = "about">This is a blog website created by me, <a href="https://www.ryankensmith.com"> Ryan Smith </a> as a practice project! This 
website utilized Ruby programming language with rails framework. Implemented twitter bootstrap and AWS EC2 Servers for deployment!</h4>
<br><h4 class="about">I never intended this website to get any usage, but I would be very happy if this app started to be used by 
others and grow into something sublime! Welcome, and enjoy your bloging advantures!</h4>
<h6 class="about">If You Have Any Questions Or Concerns Especially Password Recovery, Please Email Me At <a href=mailto:"rksmith369@gmail.com">rksmith369@gmail.com</a></h6>
<p align="center"><%= link_to 'Home', root_path, class: "btn btn-success btn-lg" %></p>
</html>