<div class="contrainer">
    <footer class="footer">
        <small>
        <p align="center"> &copy; AlphaBlog
        by <a href="https://www.ryankensmith.com"> Ryan Smith </a>
        </small>
    </footer>
</div>